<md-content class="topSpace" layout="row">
<!--   <div layout="column" flex="25">
    <md-content class="md-padding">
      <md-card>
        	
          <md-card-content>
          </md-card-content>
      </md-card>
    </md-content>
    </div> -->
    <script type="text/javascript">
    function likee(){
      if (document.getElementById("likes").innerText =="18"){
        document.getElementById("likes").innerText = 19;
        document.getElementById("ico_type").innerText = "favorite";}
      else{
        document.getElementById("likes").innerText = 18;
        document.getElementById("ico_type").innerText = "favorite_border";}
    }


    </script>

    <span flex></span>
    <div layout="column" flex="50">
      <md-content class="md-padding">
        <md-card>
         <md-toolbar>
             <div class="md-toolbar-tools ">
             <md-button aria-label="Go Back" ui-sref="posts.list">
               Go Back
             </md-button>
               <h2>
                {{cur_post.title}}
               </h2>
               <span flex></span>
               <md-button class="md-icon-button" aria-label="Favorite">
                 <md-icon id="ico_type" md-font-set="material-icons" style="color: white;" onclick="likee()"> favorite_border </md-icon>
                 <span id="likes" class="md-subhead">18</span>
               </md-button>
               <md-button class="md-icon-button" aria-label="Turned In">
               <div ng-controller="AppCtrl">
         <md-icon md-font-set="material-icons" style="color: white;" ng-click="showAlert($event)"> turned_in </md-icon>
              </div>
               </md-button>
             </div>
         </md-toolbar>   	
        <md-card-content>
        	<div  ng-mouseup="replaceSelectionText()" compile="cur_post.message"></div>
	 	</md-card-content>
	   </md-card>
	</md-content>
    </div>
  <span flex></span>
</md-content>


<!-- 
 
 -->