<md-content layout="row" >
<span flex></span>
    <div layout="column" flex="65">
      <div layout="column" ng-show="false">
        <md-input-container>
          <label>Search</label>
          <input type="text" ng-model="search"/>
        </md-input-container>
      </div>
      <form layout="row" ng-show="false">
        <md-button class="md-fab" aria-label="add new post" ng-click="add(newPost)">
          <md-icon md-font-set="material-icons"> add </md-icon>
        </md-button>
      <div layout="column" flex="80">
        <label>New Post</label>
        <md-input-container flex="50">
          <label>Name</label>
          <input type="text" ng-model="newPost.title"/>
        </md-input-container>
        <md-input-container flex="50">
        <label>Content</label>
          <input type="text" ng-model="newPost.message"/>
        </md-input-container>
      </div>
        <div flex="10">
          <md-checkbox ng-model="newPost.public" aria-label="Checkbox" default="true">
            Public
          </md-checkbox>
        </div>
      </form>

      <md-content layout-padding layout-wrap>
         <md-subheader class="md-no-sticky">Posts</md-subheader>
      </md-content>
      <md-content class="md-padding" layout="row" layout-wrap layout-align="center start">
        <div ng-repeat="post in posts" flex="50" layout="column">
             <md-card ui-sref="posts.view({ id : '{{post.id}}' })">
              <md-card-content layout="row" layout-align="start start">             
                <div layout="column" layout-align="start start">
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">{{post.title}}</span>
                  </md-card-title-text>
                </md-card-title>
                <div class="md-media-md card-media"><img ng-src="{{post.imageUrl}}"></div>
                </div>
                <md-card-actions layout="column" layout-align="start end" style="position: relative;">
                  <span class="heart-score">{{post.likes}}</span>
                  <md-button class="md-icon-button" aria-label="Favorite">
                    <md-icon md-font-set="material-icons" ng-click="like(post)"> favorite </md-icon>
                  </md-button>
                  <md-button class="md-icon-button" aria-label="Add To My-Notebook">
                    <md-icon md-font-set="material-icons"> menu </md-icon>
                  </md-button>
                  <md-button class="md-icon-button" aria-label="Share">
                    <md-icon md-font-set="material-icons"> share_arrow </md-icon>
                 </md-button>
                </md-card-actions>
              
              </md-card-content>
            </md-card>
        </div>
      </md-content>
    </div>
  <span flex></span>
</md-content>





<!-- 
          <md-card ui-sref="posts.view({id: 1})">
            <md-card-content>
              <p class="ma-message">{{post.message}}</p>
            </md-card-content>
          </md-card> -->