<md-content class="topSpace" layout="row">
<!--   <div layout="column" flex="25">
    <md-content class="md-padding">
      <md-card>
        	
          <md-card-content>
          </md-card-content>
      </md-card>
    </md-content>
    </div> -->
    <script type="text/javascript">



    </script>
    
    <span flex></span>
    <div layout="column" flex="50">
      <md-content class="md-padding">
        <md-card>
         <md-toolbar>
             <div class="md-toolbar-tools ">
             <md-button aria-label="Go Back" ui-sref="posts.list">
               Go Back
             </md-button>
               <h2>
                 <!-- <span>Toolbar with Icon Buttons</span> -->
               </h2>
               <span flex></span>
               <md-button class="md-icon-button" aria-label="Favorite">
                 <md-icon md-font-set="material-icons" style="color: white;" ng-click="like(cur_post)"> favorite </md-icon>
                 <span class="md-subhead">{{cur_post.likes}}</span>
               </md-button>
               <md-button class="md-icon-button" aria-label="Turned In">
                <md-icon md-font-set="material-icons" style="color: white;"> turned_in </md-icon>
               </md-button>
             </div>
         </md-toolbar>   	
        <md-card-content>
        	<div  ng-mouseup="replaceSelectionText()" compile="cur_post.message"></div>
	 	</md-card-content>
	   </md-card>
	</md-content>
    </div>
  <span flex></span>
</md-content>


<!-- 
 
 -->