html, body {
} 

.topSpace {
  margin-top: 1em;
  padding-top: 1em;
}

.q {
	padding: 0.3em;
    border-radius: 100px;
    width: 1em;
    height: 1em;
    display: inline-block;
    text-align: center;
    line-height: 1em;
    background: rgb(140,158,255);
    color: white;
    margin-left: 0.2em;
    cursor: pointer;
}

.asset {
	cursor: pointer;
}

.cpc-section {
	background: #fefede;
	padding: 0.5em;
	text-align: center;
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
	text-transform: uppercase;
}

.profile-thumb {
    border-radius: 100px;
        border: 2px solid;
        width: 50px;
        height: 50px;
        top: 10px;
        position: relative;
}

.comment_selection {
    border-bottom: dashed 2px blue;
    display: inline-block;
}

.comment-thumb {
    border-radius: 100px;
        border: 1px solid;
        width: 20px;
        height: 20px;
}

.comment_section {
     position: absolute;
     right: 4px; 
     font-size: 0.8em;
     max-width: 300px;  

}