<md-toolbar>
  <div class="md-toolbar-tools">
    <h2>
      <a ui-sref="home"><span id="toolbarTitle">scpc</span></a>
    </h2>
    <span flex></span>
    <div>
      <md-button ui-sref="login" ng-if="$root.currentUser == null">Login</md-button>
      <md-button ui-sref="register" ng-if="$root.currentUser == null">Sign up</md-button>

<!--       <md-button ui-sref="logout" ng-if="$root.currentUser">Logout</md-button>
      <md-button ui-sref="changepw" ng-if="$root.currentUser">Change Password</md-button>
 -->      <md-button ng-href="" ng-if="$root.currentUser" ng-click="onClick()"><span ><img class="profile-thumb" src='https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg'/></span><!--User: <span ng-bind="$root.currentUser.username"></span> --></md-button>
      <div ng-if="toggleMenu" style="width: 300px;
    height: 300px;
    background: blue;
    position: absolute;
    right: 0;
    top: 3em;">MENU</div>
    </div>
  </div>
</md-toolbar>
